In [32]:
import pandas as pd
from sqlalchemy import create_engine

In [33]:
state_region = pd.read_csv("state_geocodes.csv")
state_laborforce = pd.read_csv("LF_participants.csv")
state_laborforce_ba = pd.read_csv("BA_Hold_25_44.csv")
# Post_Secondary_25-44 = "Rankings_mod.csv")
individuals_25_44 = pd.read_csv("Total_25_44.csv")
major_type = pd.read_csv("By_Major_type_mod.csv")
national_ranking = pd.read_csv("National Universities Rankings.csv") 
uni_lat_long = pd.read_csv("Uni_lat_long.csv")

In [34]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/Project2')
connection = engine.connect()

In [35]:
state_region_df = state_region.to_sql("state_region", connection)
state_laborforce_df = state_laborforce.to_sql("state_laborforce", connection)
state_laborforce_ba_df = state_laborforce_ba.to_sql("state_laborforce_ba", connection)
individuals_25_44_df = individuals_25_44.to_sql("individuals_25_44", connection)
major_type_df = major_type.to_sql("major_type", connection)
national_ranking_df = national_ranking.to_sql("national_ranking", connection)
uni_lat_long_df = uni_lat_long.to_sql("uni_lat_long", connection)

ValueError: Table 'state_region' already exists.

In [36]:
national_ranking_ql = 'SELECT "national_ranking"."Name", "uni_lat_long"."LAT", "uni_lat_long"."LON", "national_ranking"."Rank", "national_ranking"."Undergrad Enrollment" FROM "national_ranking" LEFT JOIN "uni_lat_long" on "uni_lat_long"."NAME" = "national_ranking"."Name"'

In [37]:
nat_rank_geo = pd.read_sql(national_ranking_ql, connection)

In [38]:
nat_rank_geo

,Name,LAT,LON,Rank,Undergrad Enrollment
0,Auburn University,32.599378,-85.488258,99,"21,786"
1,University of Arizona,32.232672,-110.950815,124,"33,732"
2,University of Arkansas,36.070009,-94.176981,135,"22,159"
3,Azusa Pacific University,34.130047,-117.888375,183,"5,883"
4,Biola University,33.906203,-118.014374,164,"4,225"
...,...,...,...,...,...
226,University of California--Irvine,NaN,NaN,39,"25,256"
227,University of California--Davis,NaN,NaN,44,"28,384"
228,Indiana University-Purdue University--Indianap...,NaN,NaN,197,"21,985"
229,Tulane University,NaN,NaN,39,"6,662"
230,University of Colorado--Denver,NaN,NaN,197,"14,036"

In [39]:
major_type = pd.read_sql('SELECT * FROM "major_type"', connection)

In [40]:
major_type

    index                       Major  Unemployment Rate  Underemployment Rate
0       0                 Agriculture                3.0                  60.3
1       1   Animal and Plant Sciences                2.6                  58.6
2       2       Environmental Studies                3.9                  53.7
3       3                Architecture                2.2                  27.9
4       4              Ethnic Studies                5.1                  51.9
..    ...                         ...                ...                   ...
69     69       International Affairs                4.1                  53.1
70     70                     History                5.5                  53.6
71     71    Engineering Technologies                3.1                  45.7
72     72  Miscellaneous Technologies                3.2                  52.2
73     73                     Overall                3.6                  42.5

[74 rows x 4 columns]

In [41]:
longitudinal_ql = 'SELECT "state_region"."Name", "individuals_25_44"."2009" AS "2009ind", "state_laborforce"."2009" AS "2009lab", "state_laborforce_ba"."2009" AS "2009ba", "individuals_25_44"."2010" AS "2010ind", "state_laborforce"."2010" AS "2010lab", "state_laborforce_ba"."2010" AS "2010ba", "individuals_25_44"."2011" AS "2011ind", "state_laborforce"."2011" AS "2011lab", "state_laborforce_ba"."2011" AS "2011ba", "individuals_25_44"."2012" AS "2012ind", "state_laborforce"."2012" AS "2012lab", "state_laborforce_ba"."2012" AS "2012ba", "individuals_25_44"."2013" AS "2013ind", "state_laborforce"."2013" AS "2013lab", "state_laborforce_ba"."2013" AS "2013ba", "individuals_25_44"."2014" AS "2014ind", "state_laborforce"."2014" AS "2014ind", "state_laborforce_ba"."2014" AS "2014ba", "individuals_25_44"."2015" AS "2015ind", "state_laborforce"."2015" AS "2015lab", "state_laborforce_ba"."2015" AS "2015ba", "individuals_25_44"."2016" AS "2016ind", "state_laborforce"."2016" AS "2016lab", "state_laborforce_ba"."2016" AS "2016ba", "individuals_25_44"."2017" AS "2017ind", "state_laborforce"."2017" AS "2017lab", "state_laborforce_ba"."2017" AS "2017ba", "individuals_25_44"."2018" AS "2018ind", "state_laborforce"."2018" AS "2018lab", "state_laborforce_ba"."2018" AS "2018ba", "individuals_25_44"."2019" AS "2019ind", "state_laborforce"."2019" AS "2019lab", "state_laborforce_ba"."2019" AS "2019ba" FROM "state_region" LEFT JOIN "individuals_25_44" on "individuals_25_44"."Unnamed: 0" = "state_region"."Name" LEFT JOIN "state_laborforce" on "state_laborforce"."State" = "state_region"."Name" LEFT JOIN "state_laborforce_ba" on "state_laborforce_ba"."State" = "state_region"."Name"'

In [42]:
longitudinal_df = pd.read_sql(longitudinal_ql, connection)

In [43]:
longitudinal_df

,Name,2009ind,2009lab,2009ba,2010ind,2010lab,2010ba,2011ind,2011lab,2011ba,...,2016ba,2017ind,2017lab,2017ba,2018ind,2018lab,2018ba,2019ind,2019lab,2019ba
0,Alabama,"1,232,200","536,210","303,640","1,228,719","533,990","293,020","1,225,177","549,360","302,530",...,"334,875","1,231,962","617,415","334,210","1,235,156","624,760","344,525","1,240,535","651,555","354,540"
1,Alaska,"191,023","92,035","45,860","197,484","103,295","54,015","200,160","100,540","54,020",...,"61,695","213,484","104,605","59,120","213,174","108,145","62,765","213,353","106,425","63,145"
2,Arizona,"1,685,082","807,020","458,075","1,681,042","787,640","425,040","1,690,623","805,725","447,270",...,"508,275","1,827,995","971,520","544,715","1,863,583","1,014,830","556,575","1,903,120","1,054,415","571,695"
3,Arkansas,"743,283","282,850","161,440","743,027","291,095","161,045","745,419","306,010","171,720",...,"189,255","761,587","350,620","202,655","764,254","347,335","196,930","767,131","357,580","202,205"
4,California,"10,493,897","5,662,070","3,270,705","10,508,797","5,718,930","3,276,535","10,563,533","5,830,490","3,325,565",...,"3,921,620","11,197,559","6,972,445","4,091,870","11,274,711","7,115,070","4,164,535","11,335,052","7,324,340","4,330,535"
5,Colorado,"1,415,641","967,040","537,205","1,430,726","984,155","540,440","1,452,344","1,001,865","559,125",...,"653,905","1,634,622","1,230,640","704,320","1,675,850","1,290,890","728,975","1,711,425","1,339,255","771,390"
6,Connecticut,"911,836","701,695","354,995","902,627","707,685","358,585","894,883","716,900","357,970",...,"376,430","861,822","781,410","373,885","869,012","796,610","387,885","875,170","793,145","390,425"
7,Delaware,"228,638","136,335","73,655","227,384","133,790","69,830","227,311","139,350","73,415",...,"78,485","237,424","156,205","76,960","239,609","156,250","76,310","242,181","169,885","85,110"
8,District of Columbia,"199,093","174,825","115,960","208,088","191,925","127,235","219,040","203,595","138,825",...,"169,630","265,471","255,855","181,020","269,447","270,905","190,195","273,510","268,705","192,555"
9,Florida,"4,728,842","2,368,960","1,270,000","4,726,467","2,435,020","1,253,795","4,752,143","2,465,640","1,291,830",...,"1,542,505","5,263,303","3,060,945","1,636,425","5,337,990","3,194,970","1,723,665","5,399,953","3,296,270","1,745,405"
10,Georgia,"2,750,052","1,410,335","844,470","2,732,614","1,369,865","808,440","2,730,710","1,410,055","829,700",...,"914,050","2,813,474","1,684,780","936,415","2,841,654","1,770,780","967,980","2,874,215","1,817,970","1,005,425"
11,Hawaii,"360,092","197,720","111,895","362,478","206,765","109,170","366,528","204,635","106,725",...,"127,000","384,212","233,415","130,845","383,261","238,705","135,430","381,798","237,495","135,965"
12,Idaho,"399,670","174,000","98,195","400,960","185,570","102,010","403,286","190,410","106,170",...,"125,615","440,068","216,090","123,195","451,751","233,510","131,995","463,662","239,640","139,400"
13,Illinois,"3,517,245","2,178,225","1,264,185","3,500,021","2,198,755","1,256,125","3,491,412","2,218,955","1,280,115",...,"1,373,560","3,411,501","2,419,020","1,364,145","3,401,999","2,506,845","1,410,730","3,395,231","2,539,540","1,441,205"
14,Indiana,"1,676,552","799,300","440,160","1,667,735","802,820","438,225","1,664,408","810,825","448,595",...,"503,575","1,683,439","957,725","526,390","1,700,768","979,960","535,790","1,719,646","986,035","536,670"
15,Iowa,"745,305","427,560","228,595","747,794","429,875","229,770","749,668","442,240","238,650",...,"266,910","768,987","498,975","270,365","776,477","505,035","274,935","783,365","504,310","282,075"
16,Kansas,"720,316","444,195","234,605","725,604","452,540","247,320","726,063","459,270","243,650",...,"261,800","735,666","507,910","272,825","740,446","512,860","275,865","743,951","513,680","277,340"
17,Kentucky,"1,147,693","496,540","287,620","1,142,930","484,165","277,255","1,138,563","501,880","279,375",...,"310,640","1,132,183","573,715","317,905","1,135,035","591,910","330,170","1,138,333","606,195","336,365"
18,Louisiana,"1,181,653","505,070","285,090","1,197,065","511,150","282,390","1,206,298","495,585","283,640",...,"324,860","1,251,248","580,515","334,760","1,250,023","582,565","336,235","1,248,081","594,550","350,875"
19,Maine,"320,549","197,130","91,690","314,778","199,100","89,450","311,968","211,635","96,290",...,"105,165","309,464","228,925","108,625","312,746","230,960","112,950","316,883","247,165","115,885"
20,Maryland,"1,558,062","1,147,315","613,135","1,559,947","1,180,845","601,335","1,565,350","1,198,555","627,065",...,"688,420","1,595,982","1,349,555","696,960","1,604,205","1,373,420","706,145","1,611,462","1,390,770","712,675"
21,Massachusetts,"1,741,440","1,470,640","805,480","1,733,812","1,476,635","803,235","1,739,254","1,494,185","795,925",...,"895,005","1,807,335","1,716,125","909,755","1,826,349","1,788,060","960,985","1,842,827","1,820,510","974,100"
22,Michigan,"2,476,233","1,310,620","714,045","2,433,561","1,315,295","703,205","2,409,274","1,331,395","711,955",...,"781,050","2,432,008","1,534,800","812,000","2,455,853","1,578,260","842,895","2,477,786","1,601,410","851,380"
23,Minnesota,"1,399,672","931,975","520,360","1,396,159","953,860","529,150","1,399,164","967,780","535,145",...,"576,235","1,447,757","1,127,645","608,765","1,469,532","1,144,810","627,510","1,488,193","1,179,275","647,145"
24,Mississippi,"764,156","284,430","161,960","762,784","286,915","159,265","761,330","297,430","162,730",...,"177,815","759,739","321,205","172,680","760,028","342,455","191,955","759,501","323,610","172,285"
25,Missouri,"1,527,653","832,015","456,595","1,525,122","839,515","461,865","1,524,815","846,725","466,570",...,"515,485","1,554,360","961,710","522,985","1,566,585","974,435","543,295","1,579,626","1,006,795","561,540"
26,Montana,"234,399","138,705","71,370","236,034","148,435","74,345","237,427","149,775","76,275",...,"82,740","258,978","174,685","87,375","263,814","172,420","90,275","268,181","182,260","102,260"
27,Nebraska,"462,372","272,130","148,520","466,948","291,595","157,755","469,569","284,365","153,065",...,"182,720","489,353","328,960","184,645","494,304","341,565","194,440","498,477","356,010","202,530"
28,Nevada,"774,536","297,690","167,405","769,133","296,165","163,595","765,448","304,500","161,565",...,"187,330","826,662","363,685","206,175","845,578","368,865","210,080","863,621","388,490","219,215"
29,New Hampshire,"328,416","240,360","118,845","322,559","247,905","116,700","318,995","248,215","118,255",...,"128,275","319,045","283,740","129,180","323,747","277,750","129,505","329,316","287,570","139,730"
30,New Jersey,"2,364,261","1,700,220","935,350","2,344,286","1,740,035","951,630","2,328,999","1,748,330","945,455",...,"1,023,980","2,272,217","2,022,500","1,074,840","2,281,791","2,057,040","1,090,140","2,289,971","2,080,220","1,101,485"
31,New Mexico,"511,617","242,510","117,145","517,353","247,230","114,135","521,267","255,705","119,740",...,"130,290","530,795","254,355","128,830","534,244","255,880","135,395","538,933","270,275","137,595"
32,New York,"5,290,037","3,588,220","2,072,040","5,269,491","3,554,290","2,023,840","5,280,203","3,594,955","2,066,560",...,"2,283,450","5,296,806","4,097,015","2,330,375","5,299,630","4,146,075","2,387,480","5,297,612","4,241,845","2,418,300"
33,North Carolina,"2,573,672","1,310,690","768,610","2,577,428","1,316,960","753,805","2,576,613","1,351,590","776,395",...,"893,505","2,656,509","1,673,765","935,725","2,685,733","1,733,090","960,355","2,719,496","1,763,970","978,850"
34,North Dakota,"162,677","93,795","50,785","166,651","107,880","58,935","170,338","102,470","55,890",...,"73,320","202,520","131,985","79,125","204,630","122,840","77,685","207,147","127,920","75,905"
35,Ohio,"2,916,945","1,546,410","852,180","2,885,691","1,560,610","845,475","2,870,474","1,556,995","840,370",...,"942,570","2,907,421","1,764,745","966,585","2,930,703","1,845,710","997,180","2,952,186","1,866,975","1,015,845"
36,Oklahoma,"959,376","425,555","224,300","969,262","438,440","233,470","977,707","464,375","249,805",...,"273,315","1,029,018","502,945","275,180","1,033,633","499,750","281,305","1,041,466","521,520","284,680"
37,Oregon,"1,020,615","579,490","315,665","1,024,888","567,305","315,040","1,034,410","574,620","317,300",...,"392,680","1,137,469","719,965","423,300","1,155,509","735,305","424,235","1,172,996","762,175","439,290"
38,Pennsylvania,"3,146,144","1,894,745","1,035,975","3,126,308","1,948,405","1,040,685","3,125,681","1,940,200","1,045,715",...,"1,209,520","3,168,645","2,264,910","1,227,340","3,196,393","2,297,270","1,259,265","3,222,875","2,340,735","1,273,570"
39,Rhode Island,"266,874","183,930","94,160","263,766","175,495","92,970","262,028","186,075","91,170",...,"104,775","267,252","198,040","102,340","270,705","200,310","100,995","273,548","210,470","110,670"
40,South Carolina,"1,195,108","573,760","315,850","1,193,666","584,995","312,195","1,191,652","560,870","315,050",...,"370,085","1,268,559","708,015","378,490","1,285,375","731,530","395,245","1,303,358","763,775","416,770"
41,South Dakota,"196,965","108,280","55,005","199,015","116,745","60,425","201,106","115,185","59,990",...,"69,025","216,529","131,095","66,485","218,772","137,995","76,385","220,928","142,325","74,695"
42,Tennessee,"1,684,731","791,520","458,485","1,677,469","784,780","442,130","1,677,851","811,460","455,455",...,"516,755","1,750,044","978,550","556,840","1,773,550","995,435","553,200","1,797,314","1,059,525","592,510"
43,Texas,"7,007,959","3,193,390","1,848,860","7,096,418","3,316,610","1,891,850","7,198,429","3,416,050","1,972,065",...,"2,389,780","7,989,180","4,218,150","2,486,160","8,098,850","4,433,840","2,606,715","8,219,202","4,583,845","2,717,435"
44,Utah,"765,668","355,485","225,715","781,612","362,080","232,955","791,821","373,740","238,955",...,"297,280","880,412","484,790","318,820","898,476","499,305","325,885","915,259","519,950","334,445"
45,Vermont,"149,150","113,990","52,955","147,554","115,830","51,125","146,433","126,330","56,930",...,"57,420","142,874","129,590","58,870","144,499","137,270","64,645","145,675","135,120","63,810"
46,Virginia,"2,191,638","1,442,725","815,770","2,203,579","1,487,740","842,295","2,214,975","1,539,620","878,900",...,"943,490","2,274,775","1,763,990","970,010","2,288,181","1,797,625","992,345","2,302,877","1,820,625","1,001,990"
47,Washington,"1,835,742","1,077,385","602,270","1,846,434","1,087,285","600,855","1,868,822","1,126,340","610,785",...,"763,975","2,099,899","1,369,915","799,730","2,153,138","1,440,765","864,890","2,200,216","1,489,970","878,310"
48,West Virginia,"460,260","176,300","93,105","457,929","181,305","97,890","455,784","191,630","104,925",...,"110,950","435,799","188,750","102,440","431,393","201,375","106,375","427,806","201,405","111,125"
49,Wisconsin,"1,452,804","804,090","438,370","1,445,127","829,775","440,270","1,436,604","832,600","442,835",...,"497,605","1,425,720","961,490","512,570","1,440,982","962,100","511,990","1,454,297","1,006,925","542,485"
50,Wyoming,"143,309","66,535","34,280","144,960","72,930","35,805","145,993","72,735","38,625",...,"43,410","150,863","78,275","43,110","150,456","78,605","44,110","150,718","80,370","44,925"

In [44]:
longitudinal_df.to_csv('longitudinal.csv')